.animated-progress {
    width: 170px;
    height: 17px;
    border-radius: 5px;
    margin: 20px 0px 70px;
    border: 0px solid rgb(189, 113, 113);
    overflow: hidden;
    position: relative;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* 그림자 효과 추가 */
  }
  
  .animated-progress span {
    height: 100%;
    display: block;
    width: 0;
    color: black; /* 글자색을 검은색으로 변경 */
    line-height: 17px;
    position: absolute;
    text-align: end;
    border-radius: 5px;
    padding-right: 10px; /* 글의 위치를 오른쪽으로 조금 이동 */
  }
  
  .progress-orange span {
    background-color: #fb9200;
  }
  
  .progress-purple span {
    background-color: #EE09F2;
  }
  
  .progress-red span {
    background-color: #FF0000;
  }
  
  .progress-yellow span {
    background-color: #FCF318;
  }