@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SCoreDream5';
    font-weight: 500; 
    font-style: normal; 
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream5.woff2) format('woff2'),
         url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream5.woff) format('woff');
    font-display: swap;
}


.searchIcon {
    cursor: pointer;
  }
  
  .searchIcon:hover {
    color: #1b6868; /* hover 시의 색상 */
  }
  

.navbar-nav li {
    font-family: 'SCoreDream5';
    font-size:20px;
}

.subNav {
    font-family: 'S-CoreDream-3Light';
}

.subMenu {
    z-index: -1;
}