


caption {
  font-weight: bold;
}

.rounded-table td {
  padding: 10px;
  background-color: #eee;
}

.rounded-table th {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

.certifi-img {
  width: 30px;
  height: 30px;
}

.view,
.delete {
  border: none;
  padding: 5px 10px;
  color: #fff;
  font-weight: bold;
}

.view {
  background-color: #03A9F4;
}

.delete {
  background-color: #E91E63;
}

.tablefoot {
  padding: 0;
  border-bottom: 3px solid #009688;
}

.rounded-table {
  width: 350px;
  text-align: center;
  border-spacing: 1px;
  font-family: 'Cairo', sans-serif;
  margin: auto;
  border: 2px solid white;
  border-radius: 30px; /* 테이블 모서리를 둥글게 만듭니다. */
  overflow: hidden; /* 둥근 테이블을 위해 필요한 속성입니다. */
}

.rounded-cell {
  border: 1px solid white;
  padding: 10px;
  border-radius: 5px; /* 셀 모서리를 둥글게 만듭니다. */
}

.rounded-bg{
  border: 2px solid white;
  border-radius: 10px; /* 테이블 모서리를 둥글게 만듭니다. */
  overflow: hidden; /* 둥근 테이블을 위해 필요한 속성입니다. */
  background-color: #555454;
  margin-top: 70px;
  margin-left: -135px;
  margin-right: -135px;

}

.refresh-chart {
  
  
  display: inline-block;
  outline: none;
  cursor: pointer;
  border: 1px solid #fff;
  text-align: left;
  vertical-align: top;
  padding: calc(.375rem - 3px) 60px calc(.375rem - 3px) 12px;
  background-color: #00000000;
  font-size: 14px;
  letter-spacing: 0.16px;
  min-height: 32px;
  line-height: 1.29;
  color: #fff;
  font-weight: 400;
}

.submit-deny {

  display: inline-block;
  outline: none;
  cursor: pointer;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  padding: 2px 16px;
  height: 32px;
  min-width: 60px;
  min-height: 32px;
  border: none;
  color: #fff;
  background-color: #4f545c;
  transition: background-color .17s ease,color .17s ease;

}

.submit-deny2 {

  display: inline-block;
  outline: 0;
  border: none;
  cursor: pointer;
  height: 32px;
  padding: 0px 13px;
  border-radius: 50px;
  background-color: #2b00ff0d;
  color: #222;
  font-size: 12px;
  font-weight: bold;
  :hover {
      background-color: #2222221a;
  }
  
}  

.submit-deny3 {

  display: inline-block;
  outline: 0;
  border: none;
  cursor: pointer;
  height: 32px;
  padding: 0px 10px;
  margin: 5px auto;
  border-radius: 50px;
  background-color: #ffffff6c;
  color: #000000;
  font-size: 12px;
  font-weight: bold;
  :hover {
      background-color: #2222221a;
  }
  
}  

/* QuizForm.css (또는 기존의 style.css에 추가) */

.quiz-form {
background: #7f7f7fe9; /* Dark background color */
padding: 20px;
border-radius: 100px;
max-width: 1000px;
width: 100%;
text-align: center;
color: white; /* Text color */
}

.quiz-form h4 {
margin-bottom: 20px;
}

.quiz-form label {
font-size: 15px;
margin-right: 10px;
}

.quiz-form input {
margin-bottom: 10px;
padding: 8px;
border: 1px solid #555; /* Border color */
border-radius: 5px;
background: #333; /* Input background color */
color: white; /* Input text color */
}


.popup-overlay {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
display: flex;
align-items: center;
justify-content: center;
z-index: 999; /* Ensure the popup appears above other content */
}

/* CSS */
.button-85 {
padding: 0.3em 1em;
border: none;
outline: none;
color: rgb(255, 255, 255);
background: #555454;
cursor: pointer;
position: relative;
z-index: 0;
border-radius: 2px;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
}

.button-85:before {
content: "";
background: linear-gradient(
  45deg,
  #ff0000,
  #ff7300,
  #fffb00,
  #48ff00,
  #00ffd5,
  #002bff,
  #7a00ff,
  #ff00c8,
  #ff0000
);
position: absolute;
top: -2px;
left: -2px;
background-size: 400%;
z-index: -1;
filter: blur(5px);
-webkit-filter: blur(5px);
width: calc(100% + 4px);
height: calc(100% + 4px);
animation: glowing-button-85 20s linear infinite;
transition: opacity 0.3s ease-in-out;
border-radius: 10px;
}

@keyframes glowing-button-85 {
0% {
  background-position: 0 0;
}
50% {
  background-position: 400% 0;
}
100% {
  background-position: 0 0;
}
}

.button-85:after {
z-index: -1;
content: "";
position: absolute;
width: 100%;
height: 100%;
background: #555454f1;
left: 0;
top: 0;
border-radius: 2px;
}

/* Add this to your existing CSS or create a new CSS file for styling */

/* Popup styling */
/* Popup styling */
.popup {
color: #fff;
font-size: 20;
display: flex;
justify-content: center;
align-items: center;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
z-index: 1;
}

.popup-content {
background-color: #7f7f7fe9; /* Dark background color */
padding: 20px;
border-radius: 15px;
max-width: 770px;
width: 100%;
text-align: center;
color: white; /* Text color */
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Close button */
.fulfill-close {
position: relative;
top: -20px;
left: 380px;
font-size: 20px;
cursor: pointer;
color: #fff;
}

.popup-content input {
width: 100%;
padding: 5px;
margin-top: 5px;
margin-right: 10px;
box-sizing: border-box;
border: 1px solid #555; /* Border color */
border-radius: 5px;
background: #333; /* Input background color */
color: white; /* Input text color */
}

.popup-content button {
background-color: #4f545c;
color: white;
padding: 5px 10px;
border: none;
border-radius: 5px;
margin-top: 15px;
cursor: pointer;
transition: background-color 0.17s ease, color 0.17s ease;
}

.popup-content button:hover {
background-color: #222222;
}