/* .slick-prev,
.slick-next {
  display: none !important;
} */

/* 커스텀 화살표 이미지 설정 */
.slick-next:before,
.slick-prev:before {
  font-family: 'slick';
  font-size: 30px;
  line-height: 1;
  color: white;
  opacity: 0.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: none; /* Unicode 화살표 코드 */
}

.newsSlider a:link, a:visited{
  color : #000000;
  
}

.regionS{
  width: 100%; 
  min-height: 224px;
  display: flex;
  flex-direction: column; 
  align-items: center;
  margin-bottom: 10%;
}


.regionS .a-tag{
  background-color: #ffffff;
  box-shadow: 0px 2px 5px #292929;
  border: 1px solid #D4D4D4;
  border-radius:15px;
  margin-top:10px;
  min-height: 224px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;
  transform: 0.5s ease-out;
  transition: 0.3s;
}

.regionS .a-tag:hover{
  transform: translateY(-10px);
  transition: 0.3s;
}

.regionS div{
  padding: 10px;
}

.tt{
  font-family: 'SCoreDream7';
  letter-spacing: -0.05em;
}

@font-face {
  font-family: 'SCoreDream7';
  font-weight: 700; 
  font-style: normal; 
  src: url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream7.woff2) format('woff2'),
       url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream7.woff) format('woff');
  font-display: swap;
}