.cities{
    background: url('/public/img/Group-97.png');
    position: relative;
    width: 100%;
    height: 1070px; /* Change this line */
    min-height: 50rem;
    padding: 15rem 0;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    margin-top: -5.5%;
}

.cities-list::-webkit-scrollbar{
    width: 10px;
  }
  
/* 스크롤바 막대 설정*/
.cities-list::-webkit-scrollbar-thumb{
background-color: rgba(173, 173, 173, 0.8);
/* 스크롤바 둥글게 설정    */
border-radius: 20px; 
}

/* 스크롤바 뒷 배경 설정*/
.cities-list::-webkit-scrollbar-track{
background-color: rgba(0,0,0,  0);
}

.city-list{
    border-radius: 15px;
    height:30px;
    text-align: center;
}

.city-list:hover{
    background-color: #c7d2ff;
    font-weight: bold;
}

.OUTLINE {
    stroke-linejoin:round;
    stroke: #ffffff;
    stroke-width: 2;
}


#CD41800 {
    fill: #eaeaea;
    /* 연천군 */
}
#CD41820 {
    fill: #eaeaea;
    /* 가평군 */
}
#CD41830 {
    fill: #eaeaea;
    /* 양평군 */
}

.LINE {
    stroke-linejoin:round;
    stroke: #ffffff;
    stroke-width: 1;
    fill: none;
}

.POINT {
    stroke: #ffffff;
    stroke-width: 1;
    fill: #ffffff;
}

.TEXT {
    fill: #000000;
    font-size: 13px;
    font-weight: 800;
    text-anchor: middle;
    alignment-baseline: middle;
    pointer-events: none;

}


/* //배경 이미지 위치가 계속 바뀌는 애니메이션 */
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.myPath2{
    margin-top: -3%;
    margin-left: 10%;
}

.myPath2 path:hover {
    fill: #bada55;
    stroke: red;
    stroke-width: 1.5px;
    transform: translateZ(30px) rotateX(8deg);
}
.myPath2 path{
    transition: transform 0.5s ease-in-out;
    fill: #fff;
    stroke: #000000;
    stroke-width: 1px;
}

.goSijang{
    color:#fff;
    font-size: 18px; 
    height: 25px;
    background: #3ba1f5;
    background-image: linear-gradient(315deg, #c797eb 0%, #3b6df5 70%, #213A9C 100%);
    border-radius: 10px;
    width:25%;
    margin-left: 60%;
    margin-top: -15%;
}

.goSijang:hover{
    color:#000000;
}

.getIssue{
    margin-top: 10%;
    background: url('/public/img/Group-96.png');
    position: relative;
    width:100%;
    height: 1200px; /* Change this line */
    min-height: 10rem;
    padding: 15rem 0;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

