.image {
    width: 300px;  /* 이미지 너비 설정 */
    height: 200px;  /* 이미지 높이 설정 */
    object-fit: cover;  /* 이미지가 지정된 너비와 높이를 채우면서 비율 유지 */
  }
  
  .slide {
    z-index: 1;
    direction: rtl;
  }
  
  .activeSlide {
    transform: scale(2);
    z-index: 2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);  /* 활성 슬라이드에 그림자 추가 */
  }