<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pj.sayyo.model.member.mapper.MemberMapper">

    <insert id="regist" parameterType="MemberDto">
        INSERT INTO MEMBER(ID, PW, NAME, NICKNAME, PHONE, ADDRESS, REGIST_NUM)
        VALUES (#{id}, #{pw}, #{name},
                #{nickname}, #{phone}, #{address}, #{registNum})
    </insert>

    <select id="findAll"
            resultType="MemberDto">
        SELECT ID, PW, NAME, NICKNAME, PHONE, ADDRESS, REGIST_NUM
        FROM MEMBER
    </select>

    <update id="modify" parameterType="MemberDto">
        UPDATE MEMBER
        SET PW = #{pw}
        WHERE ID = #{id}
    </update>

    <delete id="delete" parameterType="MemberDto">
        DELETE MEMBER
        WHERE ID = #{id}
    </delete>

    <select id="findSearch" parameterType="MemberDto" resultType="MemberDto">
        SELECT (ID, PW, NAME, NICKNAME, PHONE, ADDRESS, REGIST_NUM)
        FROM MEMBER
        <if test='keyword != null and keyword != ""'>
            WHERE ${searchCode} = #{keyword}
        </if>
    </select>

</mapper>