path:hover {
    fill: #bada55;
    stroke: red;
    stroke-width: 1.5px;
    transform: translateZ(30px) rotateX(10deg);
}
path{
    transition: transform 0.5s ease-in-out;
    fill: #fff;
    stroke: #000;
    stroke-width: 0.5px;
}
svg{
    height:600px;
    width:700px;
}

